.money-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .money-details-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.balance-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecfccb;
  width: 100%;
  border: 1px solid #84cc16;
  border-radius: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .balance-container {
    width: 30%;
    margin-right: 0px;
  }
}

.details-img {
  width: 64px;
  height: 64px;
  margin: 24px;
}

.details-text {
  color: #475569;
  font-size: 12px;
  font-family: 'Roboto';
  line-height: 1.7;
  margin: 0px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .details-text {
    font-size: 14px;
  }
}

.details-money {
  color: #475569;
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 1.3;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .details-money {
    font-size: 24px;
  }
}

.income-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #cffafe;
  width: 100%;
  border: 1px solid #06b6d4;
  border-radius: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .income-container {
    width: 30%;
    margin-right: 0px;
  }
}

.expenses-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ede9fe;
  width: 100%;
  min-width: 200px;
  border: 1px solid #7c3aed;
  border-radius: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .expenses-container {
    width: 30%;
    margin-right: 0px;
  }
}
